In [1]:
#Import the DecisionTreeClassifier
import pandas as pd 
import numpy as np 
import scipy as scp
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import metrics 
from sklearn.metrics import confusion_matrix

In [2]:
#Import the dataset 
zoodata = pd.read_csv(r"C:\Users\MONISH\OneDrive\Desktop\Git_upload\Machine learning Projects\Zoo\zoo.csv", header=0) 
#We drop the animal names since this is not a good feature to split the data on
zoodata=zoodata.drop('animal_name',axis=1)

In [3]:
# display first 5 records
zoodata.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
# Info on null count and data type

zoodata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hair        101 non-null    int64
 1   feathers    101 non-null    int64
 2   eggs        101 non-null    int64
 3   milk        101 non-null    int64
 4   airborne    101 non-null    int64
 5   aquatic     101 non-null    int64
 6   predator    101 non-null    int64
 7   toothed     101 non-null    int64
 8   backbone    101 non-null    int64
 9   breathes    101 non-null    int64
 10  venomous    101 non-null    int64
 11  fins        101 non-null    int64
 12  legs        101 non-null    int64
 13  tail        101 non-null    int64
 14  domestic    101 non-null    int64
 15  catsize     101 non-null    int64
 16  class_type  101 non-null    int64
dtypes: int64(17)
memory usage: 13.5 KB

In [5]:
# Split the data into a training and a testing set ( first 80 records to train the model and 21 records to test the model )

train_features = zoodata.iloc[:80,:-1]
test_features = zoodata.iloc[80:,:-1]
train_targets = zoodata.iloc[:80,-1]
test_targets = zoodata.iloc[80:,-1]

# Train the model

dczoo = DecisionTreeClassifier(criterion = 'gini').fit(train_features,train_targets)
# dczoo = DecisionTreeClassifier(criterion = 'entropy').fit(train_features,train_targets)

dczoo

DecisionTreeClassifier()

In [6]:
# Predict the classes of new, unseen data

predzoo = dczoo.predict(test_features)

predzoo

array([3, 6, 4, 2, 1, 7, 4, 2, 6, 5, 5, 5, 4, 1, 1, 2, 1, 6, 1, 6, 2],
      dtype=int64)

In [7]:
# Check the accuracy

print("The prediction accuracy is: ",dczoo.score(test_features,test_targets)*100,"%")

The prediction accuracy is:  80.95238095238095 %